.container {
    display: flex;
    align-items: center;
    justify-content: center;
   
}
h1 {
    margin-top: 1em;
    border: 1px solid rgb(12, 133, 69);
    padding: 0.5rem 40%;
    border-radius: .5rem;
    background-color: rgb(71, 155, 113);
    color: white;
}